.buttonContainer{
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height:10vh;
    /* border:solid red 2px */
}
.buttonContainer > button {
    margin-left: 4px;
}
.buttonActive{
    background-color:grey
}
.buttonInactive{
    background-color:white
}